body{
	font-family:  Open Sans Semibold;
}
#page{
	position: relative;
}
#page ul {
	position: absolute;
	top:135px;
	left:140px;

}
#page li {
	display: inline;
	color: #09569d;
	border: solid;
	border-color:#dddddd;
	border-width: 1px 1px 1px 1px;
	border-radius: 4px;
	margin: 0px 1px 0px 1px;
	height: 40px;
}
.news_tab{
	padding: 10px 50px 10px 50px;
	font-size: 14px;
	background-color: #e4efff;
	z-index: 1;
}
.subs_tab{
	padding:10px 35px 10px 35px;
	font-size: 14px;
	background-color: white;

}
.z_index_news{
	z-index: :0;
}

a{
	text-decoration: none;
}

#tab2_a{
	color:#6e6e6e;
}
div.outer_frame {
	position: absolute;
    top: 175px;
    left:150px;
    bottom: 10%;
    right: 10%;
    width: 1000px;
    height: 400px;
    background-color:  #e4efff;
}
div.frame1 {
	left: 2%;
    right: 50%;
}    
div.frame2 {
	left: 51%;
    right: 2%;
 }
 h1{
	font-size: 24px;
	color: #757575;
	margin-top: -25px;
}
p,table{
	font-size: 15px;
	color:  #6e6e6e;
}
.fram_pos{
	position:absolute;
	top:3%;
	bottom: 8%;
	margin: 10px;
    background-color: white;
}

.border{
	border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #bdcdee;
}
.positioning{
	padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    padding-left: 5%;
}
.inpt_box{
	height: 30px;
	width:300px;
	border-color:  #dddddd;
	border-radius: 3px;
	border-style: solid;
	background-color:  #dddddd;
}
.button{
	position:absolute;
	bottom:-5%;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 25px 10px 25px;
	color: white;
	background: #33CC00; 
	border-color:#33CC00; 
    border-radius: 2px;
    box-shadow:none; 
    border-style: solid;
}
.button_pos_lft{
	left:25%;
}
.button_pos_ryt{
	right:5%;
}
.button_pos_ryt1{
	right:25%;
}
.sub{
	left: 2%;
    right: 2%;
}

.adrs_height{
	
	height: 90px;

}
#subscribe{
	visibility: hidden;
}
.image{
	width:400px;
	height:225px;
	margin-top: 10px;
	margin-left: -27px;
}
.row_align{
	vertical-align:top;
}
